body{
    background-color: rgb(221, 243, 235);
    margin:0 auto;
    max-width: 700px;
    padding:10px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width:5%;
}
h1,h3{
    font:normal bold 30px Arial;
    color: rgb(5, 147, 147);

}

#naveen{
    border-radius: 25%;
}